body {
  margin: 0;
  font-family: monospace;
}

.header {
  height: 127px;
  display: flex;
  background: linear-gradient(to bottom, #c7c5b6 75%, #ecebe2 100%);
  position: fixed;
  width: 100%;
}

.header__logo {
  background: url(images/logo.png) no-repeat;
  background-size: 185px 127px;
  width: 20%;
}

.header__nav {
  text-align: center;
  background: #ecebe2;
  margin: 0 auto;
  font-weight: 700;
  width: 60%;
  padding: 50px 0;
}

.header__callback-btn {
  padding: 13px;
  border-radius: 25px;
  width: 85%;
  margin: 0 auto;
  color: #988476;
  font-size: 17px;
  font-weight: 700;
}

.header__callback {
  font-size: 20px;
  font-weight: 700;
  width: 20%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #ecebe2;
}

.header__nav-link {
  text-decoration: none;
  font-size: 20px;
  color: #988476;
  padding: 0 20px;
}

.main {
  background: linear-gradient(to bottom, #ecebe2 0%, #c7c5b6 3%);
  padding-top: 25px;
}

.main__pic {
  background: url(images/main.jpg) no-repeat center top;
  background-size: 1440px 2160px;
  height: 620px;
  background-position: 100% 39%;
}

.main__pic-text {
  text-align: end;
  font-size: 30px;
  color: #000;
  /* -webkit-text-stroke-width: 0.5px; */
  /* -webkit-text-stroke-color: #988476; */
  margin: 0;
  padding: 140px 40px 0 0;
}

.main__pic-text-title, .main__description-text-title, .main__article-text-title {
  font-weight: 800;
  margin: 15px 0;
  display: inline-block;
  color: #ecebe2;
  font-size: 39px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
}

.main__article-text-title {
  margin: 50px;
}

.main__description {
  background: url(images/desc.jpg) no-repeat center top;
  background-size: 1176px 784px;
  height: 620px;
  background-position: 100% 39%;
}

.main__article {
  background: url(images/article.jpg) no-repeat center top;
  background-size: 1120px 748px;
  height: 620px;
  background-position: 100% 39%;
}

.main__description-text {
  width: 30%;
  /* font-weight: 700; */
  font-size: 18px;
  color: #000;
  /* -webkit-text-stroke-width: 0.01px; */
  /* -webkit-text-stroke-color: white; */
  margin: 0;
  padding: 122px 0 0 66px;
}

.main__article-text {
  font-weight: 700;
  font-size: 18px;
  color: #000;
  margin: 0;
  padding: 68px 0 0 94px;
}

.main__article-get-btn {
  padding: 13px;
  border-radius: 25px;
  /* width: 85%; */
  /* margin: 0 auto; */
  color: #988476;
  font-size: 17px;
  font-weight: 700;
}

.main__article-get-btn-wrap {
  margin: 0 auto 50px;
  width: max-content;

}

.footer {
  background-color: #ecebe2;
  display: flex;
  justify-content: center;
}

.footer__nav-btn {
  height: 50px;
  border-radius: 5%;
  width: 150px;
  margin: 20px;
  color: #988476;
  background-color: #ecebe2;
  font-size: 20px;
  font-family: monospace;
  font-weight: 700;
  outline: none;
}

.footer__nav-btn:hover {
  font-weight: 800;
  font-size: 22px;
  color: #ecebe2;
  background-color: #988476;
}

.form {
  min-width: 550px;
  margin: 0 auto;
  color: white;
  padding: 30px 0;
}

.form__title {
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 30px 0;
}

.form__item {
  0 0 20px 0;
}

.form__label {
  font-size: 18px;
  display: block;
  margin: 0 0 10px 0;
}

.form__input {
  height: 50px;
  padding: 0 20px;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
}

.textarea.form__input {
  min-height: 120px;
  resize: vertical;
  padding: 20px;
}
