body {
  margin: 0;
  font-family: monospace;
}

button {
  border: 1px solid;
  cursor: pointer;
}

.wraper {
  background-color: #c7c5b6;
}

.header {
  height: 127px;
  display: flex;
  background: linear-gradient(to bottom, #c7c5b6 75%, #ecebe2 100%);
  width: 100%;
}

.header__logo {
  background: url(images/logo.png) no-repeat;
  background-size: 185px 127px;
  width: 20%;
}

.header__nav {
  text-align: center;
  background: #ecebe2;
  margin: 0 auto;
  font-weight: 700;
  width: 60%;
  padding: 50px 0;
}

.header__callback-btn {
  padding: 13px;
  border-radius: 25px;
  width: 85%;
  margin: 0 auto;
  color: #988476;
  font-size: 17px;
  font-weight: 700;
  transition: background-color: 0.5s ease 0s;
  position: relative;
}

.header__callback-btn:hover {
  background-color: #c7c5b6;
}

.header__callback-btn:active {
  top: 3px;
  -webkit-box-shadow: 0 2px 0 #161b13;
  box-shadow: 0 2px 0 #161b13;
  background-color: #c7c5b6;
}

.header__callback {
  font-size: 20px;
  font-weight: 700;
  width: 20%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #ecebe2;
}

.header__nav-link {
  text-decoration: none;
  font-size: 20px;
  color: #988476;
  padding: 0 20px;
}

.main {
  background: linear-gradient(to bottom, #ecebe2 0%, #c7c5b6 3%);
  padding-top: 25px;
}

.main__pic {
  background: url(images/main1.jpg) no-repeat center top;
  height: 620px;
  background-position: 0px 25%;
}

.main__pic-text {
  text-align: end;
  font-size: 30px;
  color: #000;
  /* -webkit-text-stroke-width: 0.5px; */
  /* -webkit-text-stroke-color: #988476; */
  margin: 0;
  padding: 140px 40px 0 0;
}

.main__pic-text-title, .main__description-text-title, .main__article-text-title {
  margin: 15px 0;
  display: inline-block;
  color: #ecebe2;
  font-size: 39px;
}

.main__article-text-title {
  margin: 50px;
}

.main__description {
  background: url(images/desc1.jpg) no-repeat center top;
  /* background-size: 1176px 784px; */
  height: 620px;
  background-position: 0px 50%;
}

.main__article {
  background: url(images/article1.jpg) no-repeat center top;
  height: 620px;
  background-position: 0 35%;
}

.main__description-text {
  width: 30%;
  /* font-weight: 700; */
  font-size: 18px;
  color: #000;
  /* -webkit-text-stroke-width: 0.01px; */
  /* -webkit-text-stroke-color: white; */
  margin: 0;
  padding: 65px 0 0 66px;
}

.main__article-text {
  font-size: 18px;
  color: #fff;
  margin: 0;
  padding: 68px 0 0 94px;
}

.main__article-get-btn {
  padding: 13px;
  border-radius: 25px;
  /* width: 85%; */
  /* margin: 0 auto; */
  color: #988476;
  font-size: 17px;
  font-weight: 700;
}

.main__article-get-btn-wrap {
  margin: 0 auto 50px;
  width: max-content;
}

.footer {
  background-color: #ecebe2;
  display: flex;
  justify-content: center;
}

.footer__nav-btn {
  height: 50px;
  border-radius: 5%;
  width: 150px;
  margin: 20px;
  color: #988476;
  background-color: #ecebe2;
  font-size: 20px;
  font-family: monospace;
  font-weight: 700;
  outline: none;
}

.footer__nav-btn:hover {
  font-weight: 800;
  font-size: 22px;
  color: #ecebe2;
  background-color: #988476;
}

.form-wrap {
  background: url('images/form1.jpg') no-repeat center top;
  background-position: 0 90%;
}

.form {
  width: 500px;
  margin: 0 auto;
  color: white;
  padding: 30px;
}

.form__title {
  font-size: 39px;
  font-weight: 700;
  margin: 0 0 30px 0;
}

.form__subtitle {
  font-size: 20px;
  margin: 30px 0 0px;
}

.form__item {
  margin: 0 0 20px 0;
}

.form__label {
  font-size: 18px;
  display: block;
  margin: 0 0 2px 5px;
  width: -webkit-fill-available;
}

.form__input {
  height: 30px;
  padding: 10px 20px;
  border-radius: 10px;
  width: 85%;
  font-size: 20px;
  transition: all 0.5s ease 0s;
  border: 1px solid;
  }

textarea.form__input {
  min-height: 120px;
  resize: vertical;
  padding: 20px;
  margin-top: 10px;
}

.textarea.form__input {
  min-height: 120px;
  resize: vertical;
  padding: 20px;
}

.options__input {
  display: none;
}

.options__input:checked + .options__label::after {
  transform: scale(1);
}

.options {
  padding: 10px 0 0 0;
}

.options__item {
  margin: 0 0 10px 0;
}

.options__label {
  font-size: 16px;
  display: inline-flex;
  line-height: 140%;
  -ms-align-items: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: -webkit-fill-available;
}

.options__label::before {
  content: "";
  flex: 0 0 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  -ms-align-self: flex-start;
  align-self: flex-start;
  margin: 0 10px 0 0;
}

.options__label::after {
  transition: transform 0.5s ease 0s;
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-color: #7a956b;
  border-radius: 50%;
  transform: scale(0);
}

.file__item {
  position: relative;
}

.file__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}

.file__button {
  display: inline-flex;
  min-height: 40px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  background-color: #77608d;
  padding: 0 20px;
}

.file__preview {
  display: inline-block;
  min-width: 100px;
  padding: 10px 0 0 0;
}

.file__preview {
  max-width: 100%;
}

.checkbox__label {
  font-size: 16px;
  line-height: 140%;
  display: inline-flex;
  -ms-align-items: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.checkbox__label::before {
  content: "";
  flex: 0 0 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 4px;
  -ms-align-self: flex-start;
  align-self: flex-start;
  margin-right: 10px;
}

.checkbox__label::after {
  transition: transform 0.5s ease 0s;
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #7a956b;
  border-radius: 4px;
  transform: scale(0);
}

.checkbox__label a {
  color: #7a956b;
}

.checkbox__input {
  display: none;
}

.submit-title {
  text-align: center;
}

.checkbox._error.checkbox__label::before {
  box-shadow: 0 0 20px red;
}

.checkbox__input:checked + .checkbox__label::after {
  transform: scale(1);
}

.form__button {
  width: 100%;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  min-height: 60px;
  background-color: #7a956b;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 0 #161b13;
  box-shadow: 0 5px 0 #161b13;
  transition: background-color: 0.5s ease 0s;
  position: relative;
  top: 0;
}

.form__button:hover {
  background-color: #4f6146;
}

.form__button:active {
  top: 3px;
  -webkit-box-shadow: 0 2px 0 #161b13;
  box-shadow: 0 2px 0 #161b13;
}

.form * {
  outline: none;
}

.form__input:focus {
  -webkit-box-shadow: 0 0 20px #7a956b;
  box-shadow: 0 0 20px #7a956b;
}

.form__input._error {
  box-shadow: 0 0 20px red;
}
